{% macro info(item, section) %}

{% if item.name %}
    {% set name = item.name %}
{% endif %}

{% if item.source %}
    {% if item.source == 'crates' %}
        {# human readable name #}
        {% set name = item.name %}
        {# Github/Gitlab/Etc. repository #}
        {% set crate_url = 'https://crates.io/crates/' ~ name %}
        {% set description = item.name %}
    {% elif item.source == 'github' %}
        {% set name = item.name %}
        {% set description = item.name %}

    {% endif %}
{% endif %}

{# OVERRIDES: If specified in the config file, the above can be rewritten. #}
{% if item.repository_url %}   {% set repository_url = item.repository_url %}         {% endif %}
{% if item.crate_url %}        {% set crate_url = item.crate_url %}                   {% endif %}
{% if item.homepage_url %}     {% set homepage_url = item.homepage_url %}             {% endif %}
{% if item.gitter_url %}       {% set gitter_url = item.gitter_url %}                 {% endif %}
{% if item.description %}      {% set description = item.description %}               {% endif %}

{# Simple heuristic for picking the 'main' URL for an entry - might need a way of overriding #}
{% if crate_url %}
    {% set primary_url = crate_url %}
{% elif homepage_url %}
    {% set primary_url = homepage_url %}
{% elif repository_url %}
    {% set primary_url = repository_url %}
{% endif %}

<li class="ui card">
    {% if item.image %}
         {% if primary_url %}
            <a class="image" href="{{ primary_url }}">
        {% else %}
            <div class="image">
        {% endif %}
            <img src="{{ item.image }}" alt="Picture of {{ name }}">
        {% if primary_url %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endif %}

    <div class="content">
        <a href="#{{ name | slugify }}" id="{{ name | slugify }}" aria-label="Permanent link for {{ name }}">
            <i class="right floated hashtag icon"></i>
        </a>

        {% if repository_url %}
            <a href="{{ repository_url }}" aria-label="Github link for {{ name }}">
                <i class="right floated github icon"></i>
            </a>
        {% endif %}

        {% if crate_url %}
            <a href="{{ crate_url }}" aria-label="Crates.io link for {{ name }}">
                <i class="right floated cube icon"></i>
            </a>
        {% endif %}

        {% if homepage_url %}
            <a href="{{ homepage_url }}" aria-label="Website link for {{ name }}">
                <i class="right floated home icon"></i>
            </a>
        {% endif %}
        
        <div class="header">
            {% if primary_url %}
                <a href="{{ primary_url }}">{{ name }}</a>
            {% else %}
                {{ name }}
            {% endif %}
        </div>

        <div class="meta">
            {% for category in item.categories %}
                {% set category_data = get_page(path="." ~ section.path ~ category ~ ".md") %}

                <a href="{{ category_data.permalink }}">{{ category_data.title }}</a>
                {% if not loop.last %}<span>·</span>{% endif %}
            {% endfor %}
        </div>

        <div class="description">
            <p>{{ description }}</p>
        </div>
    </div>
    
</li>
{% endmacro info %}
