{% import "macros.html" as macros %}

{% macro info(item, section) %}

{% if item.name %}
    {% set name = item.name %}
{% endif %}


{# OVERRIDES: If specified in the config file, the above can be rewritten. #}
{% if item.repository_url %}   {% set repository_url = item.repository_url %}         {% endif %}
{% if item.homepage_url %}     {% set homepage_url = item.homepage_url %}             {% endif %}
{% if item.gitter_url %}       {% set gitter_url = item.gitter_url %}                 {% endif %}
{% if item.description %}      {% set description = item.description %}               {% endif %}

{# Simple heuristic for picking the 'main' URL for an entry - might need a way of overriding #}
{% if crate_url %}
    {% set primary_url = crate_url %}
{% elif homepage_url %}
    {% set primary_url = homepage_url %}
{% elif repository_url %}
    {% set primary_url = repository_url %}
{% endif %}

<div class="tile is-4 is-parent has-text-centered">
    <div class="tile is-child box">
        {% if item.image %}
            {% if primary_url %}
                <a class="image" href="{{ primary_url }}">
            {% else %}
                <div class="image">
            {% endif %}
                <img src="{{ item.image }}" alt="Picture of {{ name }}">
            {% if primary_url %}
                </a>
            {% else %}
                </div>
            {% endif %}
        {% endif %}
        
        <div class="has-text-right">
            <a href="#{{ name | slugify }}" id="{{ name | slugify }}" aria-label="Permanent link for {{ name }}">
                <span class="icon">
                    <i class="fas fa-hashtag"></i>
                </span>
            </a>

            {% if repository_url %}
                <a href="{{ repository_url }}" aria-label="Github link for {{ name }}">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
            {% endif %}

            {% if homepage_url %}
                <a href="{{ homepage_url }}" aria-label="Website link for {{ name }}">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
            {% endif %}
        </div>
        
        <div class="title">
            {% if primary_url %}
                <a href="{{ primary_url }}">{{ name }}</a>
            {% else %}
                {{ name }}
            {% endif %}
        </div>

        <div class="has-text-grey mb-3">
            {% for category in item.categories %}
                {% set category_data = get_page(path="." ~ section.path ~ category ~ ".md") %}

                <a href="{{ category_data.permalink }}">{{ category_data.title }}</a>
                {% if not loop.last %}<span>·</span>{% endif %}
            {% endfor %}
        </div>


        {% if item.youtube_id %}
            {{ macros::youtube(id=item.youtube_id) }}
        {% endif %}

        <div class="description mt-4 mb-4">
            <p>{{ description }}</p>
        </div>

        {% if item.name %}
        <div class="content">
            {# only projects hosted on pip get badges for now #}
            {% set name = "ripgrep" %}
        
            <div class="level">
                <div class="level-item">
                    <div class="content">
                        <a href="https://crates.io/crates/{{name}}">
                            <img src="https://img.shields.io/crates/v/{{name}}.svg?maxAge=2592000"
                                alt="Crates.io link for {{ name }}">
                        </a>
                    </div>
                </div>
                <div class="level-item" aria-hidden="true">
                    <div class="content">
                        <a href="https://crates.io/crates/{{name}}">
                            <img src="https://img.shields.io/crates/d/{{name}}.svg?maxAge=2592000"
                                alt="Download count for {{ name }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endmacro info %}
