{% import "macros.html" as macros %}

{% macro info(item, section) %}

{% if item.name %}
    {% set name = item.name %}
{% endif %}


{# OVERRIDES: If specified in the config file, the above can be rewritten. #}
{% if item.repository_url %}   {% set repository_url = item.repository_url %}         {% endif %}
{% if item.homepage_url %}     {% set homepage_url = item.homepage_url %}             {% endif %}
{% if item.gitter_url %}       {% set gitter_url = item.gitter_url %}                 {% endif %}
{% if item.description %}      {% set description = item.description %}               {% endif %}

{# Simple heuristic for picking the 'main' URL for an entry - might need a way of overriding #}
{% if crate_url %}
    {% set primary_url = crate_url %}
{% elif homepage_url %}
    {% set primary_url = homepage_url %}
{% elif repository_url %}
    {% set primary_url = repository_url %}
{% endif %}

<div class="tile is-6 is-parent has-text-centered">
    <div class="tile item is-child box">  
        <div class="has-text-right mb-3">
            {% if repository_url %}
                <a href="{{ repository_url }}" aria-label="Github link for {{ name }}">
                    <span class="icon is-medium has-text-info">
                        <i class="fab fa-lg fa-github"></i>
                    </span>
                </a>
                {% set github_repo = repository_url | replace(from="https://github.com/", to="") %}


            {% endif %}

            {% if homepage_url %}
                <a href="{{ homepage_url }}" aria-label="Website link for {{ name }}">
                    <span class="icon is-medium has-text-info">
                        <i class="fas fa-lg fa-home"></i>
                    </span>
                </a>
            {% endif %}
            <a href="#{{ name | slugify }}" id="{{ name | slugify }}" aria-label="Permanent link for {{ name }}">
                <span class="icon is-medium has-text-info">
                    <i class="fas fa-lg fa-hashtag"></i>
                </span>
            </a>
   
        </div>

        <div class="title">
            {% if primary_url %}
                <a href="{{ primary_url }}" class="has-text-info">{{ name }}</a>
            {% else %}
                {{ name }}
            {% endif %}
        </div>

        <div class="mb-3">
            {% for category in item.categories %}
                {% set category_data = get_page(path="." ~ section.path ~ category ~ ".md") %}

                <a class="has-text-grey" href="{{ category_data.permalink }}">{{ category_data.title }}</a>
                {% if not loop.last %}<span>·</span>{% endif %}
            {% endfor %}
        </div>


        {% if item.video_url %}
            {{ macros::youtube(video_url=item.video_url) }}
        {% endif %}

        <div class="description mt-5 mb-5">
            <p>{{ description }}</p>
        </div>

        {% if item.logo_url %}
            {% if primary_url %}
            <a class="image mt-3 mb-3" href="{{ primary_url }}">
            {% else %}
            <div class="image mt-3 mb-3">
            {% endif %}
                <img style="max-height: 80px; width:auto; height:auto; margin:auto;" src="{{ item.logo_url }}"
                    alt="Picture of {{ name }}">
            {% if primary_url %}
            </a>
            {% else %}
            </div>
            {% endif %}
        {% endif %}


        <hr class="mt-auto" />


        <div class="content">
        
            <div class="level">
                <!-- <a href="https://pypi.org/project/{{name}}" class="level-item">
                    <img src="https://badge.fury.io/py/{{name}}.svg"
                        alt="PyPi link for {{ name }}">
                </a> -->
                {% if github_repo %}
                    <div class="level-item">
                        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ github_repo }}?label=Github%20Stars">
                    </div>
                    <div class="level-item">
                        <img alt="GitHub Repo forks" src="https://img.shields.io/github/forks/{{ github_repo }}?label=Github%20Forks">
                    </div>
                    <div class="level-item">
                        <img alt="GitHub Repo last commit" src="https://img.shields.io/github/last-commit/{{ github_repo }}">
                    </div>
                {% endif %}
                {% if item.pypi %}

                    <a href="https://pypi.org/project/{{item.pypi}}" class="level-item">
                        <img src="https://static.pepy.tech/personalized-badge/{{ item.pypi }}?period=month&units=international_system&left_color=grey&right_color=blue&left_text=downloads/month"
                            alt="Download count for {{ item.pypi }}">
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endmacro info %}
