{% extends "master.html" %}
{% import "macros.html" as macros %}
{% import "categories/macros.html" as category_macros %}

{#
    a collection of crates, used to be "categories".  However, with Zola, categories implies
    a taxonomy, which isn't completely accurate since it's more like pages with external data loading.
#}

{% block seo %}
    <title>{{ page.title }} | {{ config.title }}</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ page.permalink }}">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="canonical" href="{{ page.permalink }}">
{% endblock seo %}

{% block content %}
{% set section = get_section(path=page.ancestors[1]) %}
{% set columns = section.extra.columns | default(value = "one") %}

{# Heading #}
<section class="section has-text-centered">
    <p>
        <span class="icon is-large">
            <i class="fas fa-2x fa-{{ section.extra.icon }}"></i>
        </span>
    </p>
    <h1 class="title">
        {{ page.title }}
    </h1>
    <div class="subtitle">
        <p>{{ page.description }}</p>
    </div>
</section>

{# list all content #}
<section class="section">
    <hr/>

    <div class="tile is-ancestor is-flex-wrap-wrap">
        {% set config = load_data(path = "content/" ~ section.path ~ "data.toml", format="toml") %}
        {% if config.items %}
            {% for item in config.items %}
                {% if item.categories is containing(page.slug) %}
                    {{ category_macros::info(item=item, section=section) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock content %}