{% extends 'master.html' %} 
{% import "macros.html" as macros %}

{% block masthead %}
<section class="hero is-medium is-info">
    <div class="hero-body has-text-centered">
        <p>
            <span class="icon is-large">
                <i class="fas fa-2x fa-rocket"></i>
            </span>
        </p>

        <p class="title">
            Eurocore Software
        </p>
        <p class="subtitle">
            Software That Runs on Robot
        </p>
    </div>
</section>
{% endblock %}

{% block content %}


<section class="section">
    {% set software = get_section(path="software/_index.md") %}
    {{ macros::category_list(section=software) }}
</section>

<section class="section">
    <h3 class="divider">
        <a href="#curators" id="curators" class="has-text-info">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>Curators</span>
            </span>
        </a>
    </h3>

    <h3 class="has-text-centered subtitle">
        The people that help maintain this site.
    </h3>

    <div class="tile is-ancestor">
        {% set data = load_data(path="content/contributors/data.toml") %}
        {{ macros::contributors(contributors=data.contributors) }} 
    </div>
</section>

{% endblock content %}
