{% extends 'master.html' %} 
{% import "macros.html" as macros %}

{% block masthead %}
<section class="hero is-medium is-info">
    <div class="hero-body has-text-centered">
        <img src="https://www.eurobin-project.eu/images/euROBIN_img/logo_eurobin193x54px.png" alt="euROBIN logo"
            style="width: 300px">
        <p class="title is-size-1">
            EuroCore Software
        </p>
        <p class="subtitle">
            Software That Runs on Real Robots
        </p>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="section">
{% set software = get_section(path="software/_index.md") %}
{% set data = load_data(path="content/" ~ software.path ~ "data.toml") %}


<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Categories</p>
            <p class="title">{{ software.pages | length }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Softwares</p>
            <p class="title">{{ data.items | length }}</p>
        </div>
    </div>
</nav>


    {{ macros::category_list(section=software) }}
</section>

<section class="section">
    <h3 class="divider">
        <a href="#curators" id="curators" class="has-text-info">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>Curators</span>
            </span>
        </a>
    </h3>

    <h3 class="has-text-centered subtitle">
        The people that help maintain this site.
    </h3>

    <div class="tile is-ancestor">
        {% set data = load_data(path="content/contributors/data.toml") %}
        {{ macros::contributors(contributors=data.contributors) }} 
    </div>
</section>

{% endblock content %}
