{% macro category_list(section) %}
    
    <h3 class="divider">
        <a class="has-text-info" href="#{{ section.title | slugify }}" id="{{ section.title | slugify }}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-{{ section.extra.icon }}"></i>
                </span>
                <span>{{ section.title }}</span>
            </span>
            
        </a>
    </h3>

    <div class="section">
        {% if section.description %}
            <h3 class="has-text-centered subtitle mt-auto mb-6">
                {{ section.description }}
            </h3>

        {% endif %}

        <div class="tile is-ancestor is-flex-wrap-wrap">
            {% set data = load_data(path="content/" ~ section.path ~ "data.toml") %}

            {% for category in section.pages %}
                {# This isn't very pretty/efficient, but it's about as good as we can do with Zola's current feature set #}

                {% set_global count = 0 %}
                {% for item in data.items %}
                    {% if item.categories is containing(category.slug) %}
                        {% set_global count = count + 1 %}
                    {% endif %}
                {% endfor %}

                <a class="tile is-parent is-4" href="{{ category.permalink }}">
                    <div class="tile is-child box is-vertical item">
                        <div class="is-size-3">
                            {{ category.title }}
                        </div>
                        <div class="mt-auto mb-auto">{{ category.description }}</div>
                        <hr class="mb-3 mt-3" />
                        <div class="has-text-grey">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-{{ section.extra.icon }}"></i>
                                </span>
                                <span>
                                    {{ count }} {{ count | pluralize(singular=section.extra.single, plural=section.extra.plural) }}
                                </span>
                            </span>
                        </div>
                        <hr class="mb-3 mt-3" />
                        <div class="button is-info is-fullwidth">
                            Browse
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro category_list %}

{% macro contributors(contributors) %}
    {% for c in contributors %}
        <div class="tile is-6 is-parent has-text-centered">
            <div class="tile is-child box">
                <div class="title">@{{ c.name }}</div>
                <div>
                    {% for name, link in c.links %}
                        {# special links for social websites with icons #}
                        {% if name == "twitter" or name == "github" %}
                            <a class="has-text-info" href="https://{{name}}.com/{{link}}" aria-label="{{name}} link for {{ c.name }}">
                                <span class="icon is-large">
                                    <i class="fab fa-lg fa-{{name}}"></i>
                                </span>
                            </a>
                        {% elif name == "home" %}
                            <a class="has-text-info" href="{{link}}" aria-label="Website link for {{ c.name }}">
                                <span class="icon is-large">
                                    <i class="fas fa-lg fa-{{name}}"></i>
                                </span>
                            </a>
                        {# any other website #}
                        {% else %}
                            <a class="has-text-info" href="{{link}}" title="{{name}} link for {{ c.name }}">
                                <span class="icon is-large">
                                    <i class="fas fa-lg fa-globe"></i>
                                </span>
                            </a>
                        {% endif %}
                    {% endfor %}

                    <p>{{ c.about }}</p>
                </div>

                {% if c.description %}
                    <div class="">
                        {{ c.description | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro contributors %}

{% macro youtube(video_url) %}
{% set id = video_url | replace(from="https://www.youtube.com/watch?v=", to="") %}
<div class="image is-16by9">
    <!-- <iframe
        class="has-ratio"
        src="https://www.youtube-nocookie.com/embed/{{id}}"
        allowfullscreen></iframe> -->
    
        <!-- Lazy loading trick from https://css-tricks.com/lazy-load-embedded-youtube-videos/
            we can also use &#x25BA; instead of the unicode play button -->
        <iframe class="has-ratio" src="https://www.youtube-nocookie.com/embed/{{ id }}&autoplay=1"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
                span{height:1.8em;text-align:center;font:48px/1.8 sans-serif;color:white;text-shadow:0 0 0.5em black;
                border-radius: 20px; background-color: rgba(62,142,208, 0.5);
                width: 3em;
                align-items:center; margin-left:35%}
            
            
                </style>
                <a href=https://www.youtube-nocookie.com/embed/{{id}}?autoplay=1><img src=https://img.youtube.com/vi/{{id}}/hqdefault.jpg>
                        <div class='youtube'>
                            <span class='arrow'>▶</span>
                        </div>
                
                </a>" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        loading="lazy"></iframe>


</div>
{% endmacro youtube %}